* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    text-align: center;
    margin: 50px;
}

h1 {
    font-family: "Caramel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

nav > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    gap: 15px;
    margin: 25px auto;
    width: 60%;
}
