* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #1d2535;
    color: #fff;
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: 400px 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "contact exp"
        "contact educ"
        "contact comp"
        "contact proj";
}

header {
    text-align: center;
    background-image: url(assets/images/Background_stars.jpg);
    background-size: cover;
    color: #fff;
}

h1 {
    font-family: "Caramel", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    padding: 50px;
}

h2 {
    font-size: 4em;
    margin-left: 40px;
    padding-bottom: 20px;
    font-family: "Caramel", cursive;
    font-weight: 400;
}

h3 {
    font-size: 1.4em;
}

#name {
    padding-bottom: 50px;
}

nav {
    background: linear-gradient(#040a15, #151b26);
    border-top: 1px solid #fff;
}

nav > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    gap: 15px;
    margin: 25px auto;
    padding-bottom: 20px;
    width: 60%;
}

a {
    text-decoration: none;
    color: #998c68;
}

li > a {
    text-decoration: none;
    color: #fff;
    transition: background 0.6s ease;
    padding: 5px;
    border-radius: 8px;
}

li > a:hover {
    background: rgba(255, 255, 255, 0.3)
}

/* SECTION EXPERIENCE */

#experience {
    grid-area: exp;
    background-color: #1d2535;
}

.exp_block {
    margin: 15px;
    padding: 20px;
}

/* SECTION EDUCATION */

#education {
    display: flex;
    flex-direction: column;
    grid-area: educ;
    background-color: #070e1a;
    padding: 50px;
}

.edu_block {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.edu_block > div {
    width: 50%;
}

.edu_block > div > h3 {
    margin-bottom: 20px;
}

/* SECTION COMPETENCES */

#competences {
    grid-area: comp;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template: 
        "title title"
        "front back"
        "design doc";
    background-color: #151b26;
    padding: 50px;
    gap: 15px;
}

.progress {
    display: grid;
    grid-template-columns: 1fr auto 40px;
    gap: 15px;
    width: 80%;
    min-width: 350px;
}

.progress h4, p {
    text-align: right;
}


.comp_block h3 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.5em;
    color: #998c68;
}

#title {
    grid-area: title;
}

.front {
    grid-area: front;
}

.back {
    grid-area: back;
}

.design {
    grid-area: design;
}

.doc {
    grid-area: doc;
}

/* SECTION PROJETS */

#projets {
    grid-area: proj;
    background-color: #1d2535;
    padding: 75px;
}

.proj_block {
    text-align: justify;
    background-color: #2a354d;
    padding: 15px;
}

.sequoia {
    display: flex;
    padding: 15px;
    gap: 15px;
}

.portfolio {
    display: flex;
    padding: 15px;
    gap: 25px;
}

#portfolio_h3 {
    text-align: end;
}

.sequoia p, .portfolio p {
    align-self: flex-end;
}

img {
    width: 40%;
}

/* SECTION CONTACT */

.contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    background-color: #2a354d;
    margin: 5px;
    padding: 10px;
    gap: 5px;
}

.contact img {
    width: 95%;
    border-radius: 50%;
}

.contact > h2 {
    text-align: center;
    margin: 0;
    padding: 20px 65px;
}

.contact h4 {
    margin-top: 40px;
    font-size: 1.3em;
}

.contact p {
    font-size: 1.2em;
    margin: 5px;
}

#aPropos {
    margin-top: 40px;
    font-style: italic;
    font-size: 1.1em;
}


#phone, #mail {
    display: flex;
}

#phone, #mail img {
    width: 8%;
}

form {
    margin-top: auto;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 8px;
    border-radius: 20px;
    gap: 10px;
    border: 2px solid black;
    background-color: #998c68;
    margin-bottom: 25px;
}


form h3 {
    text-align: center;
}

#valid_rgpd {
    font-size: 0.8em;
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
    gap: 8px;
    text-align: justify;
}

#envoyer {
    width: 30%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    padding: 50px;
    background-color: #070e1a;
}

footer p {
    text-align: center;

}

#legal_mentions {
    margin-top: 15px;
    text-decoration: underline;
}

@media screen and (max-width: 1320px) {
    .sequoia, .portfolio {
        flex-direction: column;
    }

    img {
        width: 100%;
    }

    #portfolio_h3 {
        text-align: left;
    }

    .portfolio p {
        order: 2;
    }

    #competences {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (max-width: 825px) {
    nav > ul {
        display: none;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "exp"
            "educ"
            "comp"
            "proj"
            "contact";
    }

    .contact > img {
        max-width: 400px;
        align-self: center;
    }

    .contact > form {
        width: 80%;
        align-self: center;
        margin: 15px auto;
    }

    .comp_block {
        align-self: center;
    }

    footer {
        max-width: 100%;
    }

}